<br><br><br><br><br>
<div style="text-align: center;">
    <h1>ROLIFY!</h1>
    <br>
    <h2>Rolify your workspace</h2>
    <h3>Here comes the awesome tool to revolutionize team collaboration with role-based access control.
    </h3>
</div>
<br>
<mat-card class="card_content" style="text-align: center;">
    <mat-card-content>
        Rolify is a tool that enables you to manage and assign different roles and permissions to team members, based on their responsibilities and requirements.
    </mat-card-content>
</mat-card>
<br><br>
<mat-card class="card_content" style="text-align: center;">
    <mat-card-content>
        With this application, you can easily define roles such as admin, manager, employee, or any other custom role specific to your organization, and assign them to team members with different levels of access to resources and functionalities.
    </mat-card-content>
</mat-card>
<br><br>
<mat-card class="card_content" style="text-align: center;">
    <mat-card-content>
        This application further extends to maintaining the clients in an organized manner. 
    </mat-card-content>
</mat-card>